.navbar span {
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
}

.navbar {
  width: 100vw;
  position: absolute;
  z-index: 999;
}

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  transition: 100ms;
  -webkit-box-shadow: 0px 21px 20px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 20px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mob-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mob-navbar {
  transform: translateY(-110%);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  transition: transform 0.5s ease;
}

.open {
  transform: translateY(0);
}

.mob-navbar span {
  margin: 15px 0;
}

@media screen and (max-width: 800px) {
  .navbar span {
    display: none;
  }

  .navbar button {
    display: none;
  }
}
@media screen and (min-width: 801px) {
  .mobMenu {
    display: none;
  }
}
