.uni-bg {
  background-image: url("../../assets/hero/hero-bg.jpg");
}

.uni-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  min-height: 220px;
}

.uni-title h1 {
  font-size: 5rem;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .uni-title h1 {
    font-size: 4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
  .uni-title h1 {
    font-size: 3rem;
    font-weight: 600;
  }
}