.scrollable-div {
  width: 50vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
  transition: 1s;
  white-space: nowrap;
}

.scrollable-div.hovered {
  overflow-x: auto;
}

.course-search {
  display: flex;
  justify-content: center;
}

.course-search input {
  width: 90vw;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.course-search input::placeholder {
  letter-spacing: 5px;
  text-align: center;
}

.course-grid {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  justify-content: space-between;
  grid-row-gap: 30px;
}

.about {
  display: grid;
  grid-template-columns: 40vw 40vw;
  align-items: center;
  gap: 50px;
  margin: 50px 10%;
  color: var(--text-color);
}

.about img {
  min-width: 400px;
  width: 30vw;
}

.about h1 {
  color: #231f40;
  font-size: 4rem;
}
.about h2 {
  color: #231f40;
  font-size: 1.5rem;
  margin: 10px 0;
}

.about-2 {
  display: grid;
  grid-template-columns: 40vw 40vw;
  align-items: center;
  gap: 50px;
  margin: 50px 10%;
  color: var(--text-color);
}

.about-2 img {
    min-width:400px;
    width: 30vw;
  }

.about-2 h1 {
  color: #231f40;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
}


.about-center{
    background-image: url(../assets/about-center.jpg);
    min-height: 70vh;
    color: white;
    text-align: center;
}



.center-grid{
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 50px;
    justify-content: center;
}

.course-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 10px 50px;
  gap: 20px;
  justify-content: center;
  
}

.course-page video{
  height: 80vh;
}

.leactures-list{
  height: 80vh;
  overflow: auto;
}

.profile{
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}

.update-profile-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  
}

.playlist{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 50px;
}

.playlist img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}